---
interface Props {
  name: string;
  description: string;
  url: string;
  logo: string;
  logoAlt?: string;
}

const { name, description, url, logo, logoAlt = name } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="w-full flex flex-col items-center transition-all group hover:bg-macchiato-mantle py-3 hover:opacity-100 duration-500 group-hover/ventures:opacity-30"
>
  <div class="container flex items-center justify-between">
    <div class="flex items-center gap-5">
      <img src={logo} alt={logoAlt} class="rounded-xl size-10" />
      <div class="font-light">
        <h3>{name}</h3>
        <p class="text-macchiato-subtext-0">{description}</p>
      </div>
    </div>

    <svg
      viewBox="0 0 20 21"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="size-4 text-macchiato-subtext-0 transition-all duration-300 ease-in-out group-hover:-translate-y-1"
    >
      <path
        d="M3.75 16.75L16.25 4.25M16.25 4.25H6.875M16.25 4.25V13.625"
        stroke="currentColor"
        stroke-width="1.45833"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </div>
</a>
